@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #EDEDED;

  --background-dark: #121212;
  --background-gray: #1E1E1F;
  --background-light-gray: #2B2B2C;
}

body {
    height: 100vh;
    margin: 0;
}